.header
    position: fixed
    width: 100vw
    // border: 1px solid green

    &-content
        display: flex
        flex-flow: row nowrap
        justify-content: space-between
        align-items: center
        border: 1px solid red
        margin-top: 20px

        & .logotype
            display: flex
            align-items: center
            // height: 42px
            // align-content: center

            & img
                max-height: 2.1rem
            
            & span
                font-family: "Poppins Bold", sans-serif
                color: var(--white)
                font-size: 1.85rem
                vertical-align: middle
                margin-left: 0.75rem