header.header#header
    .container
        .header-content
            .logotype
                img.logo-pic(src='./img/Logo.png')
                span Marico
            nav.navigation
                select(title='select menu')
                    option Use Cases
                    option Second Item
                    option Third Item
                a(href='#') About
                a(href='#' class='active') Pricing
                a(href='#') Blog
            .account
                button.login-btn Login
                button.register-btn Sign Up