header.header#header
    .container
        .header-content
            .logotype
                img.logo-pic(src='./img/Logo.png')
                span Marico
            nav.navigation
                select
                    option 1
                    option 2
                    option 3
                a(href='#') About
                a(href='#') Pricing
                a(href='#') Blog
            .account
                button.login-btn Login
                button.register-btn Sign Up